<form action="action_signup" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" id="" placeholder="password">    
<input type="password" name="retypr_password" id="" placeholder="password">
    <input type="submit">
    </form>